# Development files
.git
.github
.gitignore
.npmrc
.DS_Store
.vscode
.idea

# Test files
__tests__
*.test.js
*.spec.js
jest.config.js

# Build artifacts
node_modules
coverage
.nyc_output

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
